.main {
  margin: 40px 20px;
  text-align: center;
}

.joinGameLabel {
  text-decoration: none;
  color: lightblue;
}

.game {
  margin: 10px;
  transition: 0.1s;
}

.game:hover {
  background: #2f363d;
}

.game span {
  margin-right: 6px;
}
