.main form {
  height: 100vh;
  width: 100vw;
  padding-bottom: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main label {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
}

.main input {
  margin-top: 30px;
  font-size: 1.6rem;
  border: none;
  background: none;
  border-bottom: 1px solid #2f363d;
  width: 270px;
  text-align: center;
  color: #ddd;
  background: linear-gradient(
    53.13deg,
    #ffd33d 0,
    #fb8532 19.02%,
    #ea4a5a 37.19%,
    #8a63d2 56.92%,
    #2188ff 79.93%,
    #34d058 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  outline: none;
}
